.menuMobile {
  background-color: rgb(255, 255, 255);
  backdrop-filter: saturate(180%) blur(20px);
  width: 100%;
  z-index: 1000;
  position: fixed;
  height: 100vh;
  display: none;
}

.menuMobile a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
  display: flex;
}

.menuMobile a:hover,
.headerMobile a:hover {
  color: black;
}

.menuMobile ul {
  padding: 0 0 3rem 3rem;
  list-style-type: none;
  margin-top: 1rem;
}

.menuMobile li {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: nowrap;
}

.menuMobile.ativo {
  display: block;
  animation: showMenu 0.6s forwards;
}

.menuMobile li:hover::after {
  content: ">";
  display: flex;
  font-size: 1.5rem;
  width: 100%;
  flex-wrap: nowrap;
  margin-right: 1.2rem;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  color: #333336;
  animation: showChevron 0.24s cubic-bezier(0.4, 0, 0.6, 1) both;
  transition: visibility 0.24s step-end;
}

@keyframes showChevron {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 5px, 0);
  }
}

.headerMenuMobile i {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
}

.headerMenuMobile i:hover {
  color: black;
}
