.promos {
  display: flex;
  margin-top: 0.8rem;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.promo {
  background-image: url("../img/promoFamilyIphone.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: black;
}

.promo h2 {
  font-size: 2.5rem;
}

.promoWrapper {
  text-align: center;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-height: 500px;
}

.promos .btnBlue,
.promos .btnTransparent {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.42859;
}

.promoWrapper .titulo {
  font-size: 2.5rem;
}

.promoWrapper .subtitulo {
  font-size: 1.313rem;
  line-height: 1.19048;
  font-weight: 400;
  letter-spacing: 0.011em;
  width: 52%;
  position: relative;
  margin-bottom: 0.7rem;
  left: 50%;
  transform: translate(-50%);
  margin-top: 4px;
}

.promoWrapper .highlight {
  margin: 0.4rem 0 0 0;
}

.promo .chamada {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.textPromoBottom .highlight {
  font-size: 0.875rem;
  font-weight: bold;
}

.watchUltra {
  background-image: url("../img/promoWatchUltra.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
}

.airPods4 {
  background-image: url("../img/promoAirPods4.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
}

.ipad {
  background-image: url("../img/promoIpad.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: black;
}

.watch {
  background-image: url("../img/promoWatch.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: black;
}

.watch .subtitulo {
  margin: 0.8rem 0;
}

.macBookPro {
  background-image: url("../img/promoMacBookPro.jpg");
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  text-decoration: none;
  color: white;
}

.ipadBtnWrapper {
  margin-top: 0.8rem;
}
